Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sumeetranu, @briwalkr, @rshelat97, @gangularamya

.github/CODEOWNERS:

/apis/poi/ @sumeetranu 
/apis/trips/ @briwalkr
/apis/user-java/ @rshelat97
/apis/userprofile/ @gangularamya

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines-trips-go-joelst.yml for Azure Pipelines
  azure-pipelines-trips-go-joelst.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Update dotnet3.yml
  .github/workflows/dotnet3.yml
Owners: none

CI Testing
  apis/poi/README.md
Owners: @sumeetranu

CI Testing - mimran972
  apis/trips/README.md
Owners: @briwalkr

commiting a change to the POI unit test
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Fixed AB#11 Fixing Build failure
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @sumeetranu

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

trips pol
  .github/workflows/trips-docker-build-yaml.yaml
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @sumeetranu

Return tests back to og
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @sumeetranu

Change Status Message for Health check
  apis/poi/web/Models/Healthcheck.cs
Owners: @sumeetranu

Check in all build pipelines
  .github/workflows/poi-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
  .github/workflows/userprofile-docker-build-yaml.yaml
Owners: none

AB#15 HealthCheck Fixes
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @sumeetranu

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none

Update the HC message again along with Unit Test
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @sumeetranu

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none
