Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiroyay-ms, @nakazax, @takawago, @makamiya

Create test1
  test1
Owners: none

Create test2
  apis/userprofile/test2
Owners: @makamiya

Create test3
  apis/poi/test3
Owners: @hiroyay-ms

Create test4
  apis/poi/test4
Owners: @hiroyay-ms

Create test5
  apis/trips/test5
Owners: @nakazax

Create CODEOWNERS
  CODEOWNERS
Owners: none

changed readme.md for apis/userprofile
  apis/userprofile/README.md
Owners: @makamiya

Update README.md
  apis/user-java/README.md
Owners: @takawago

updating readme on userprofiles AB#2
  apis/userprofile/README.md
Owners: @makamiya

Create dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Owners: none

Create test.md
  apis/poi/tests/UnitTests/test.md
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @hiroyay-ms

adding status badge to trips api
  apis/trips/README.md
Owners: @nakazax

.github/CODEOWNERS:

/apis/poi/ @hiroyay-ms
/apis/trips/ @nakazax
/apis/user-java/ @takawago
/apis/userprofile/ @makamiya
