Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openhackdevops2-team5/poi_owners, @manalotoj, @OpenHackDevOps2-Team5/userprofile_owners, @OpenHackDevOps2-Team5/crushers

Update go.yml
  .github/workflows/go.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

changing readme count to 4 (#15)
  apis/userprofile/README.md
Owners: @OpenHackDevOps2-Team5/userprofile_owners

Specifying a Build Name
  .github/workflows/maven.yml
Owners: none

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @manalotoj

Update dotnetcore.yml
  apis/trips/tests/healthroute_test.go
Owners: @manalotoj

added starter pipeline
  apis/poi/azure-piplines.yml
Owners: @openhackdevops2-team5/poi_owners

pipeline changes
  apis/poi/azure-piplines.yml
Owners: @openhackdevops2-team5/poi_owners

removing leading slash in path
  apis/poi/azure-piplines.yml
Owners: @openhackdevops2-team5/poi_owners

added docker build and push
  apis/poi/azure-piplines.yml
Owners: @openhackdevops2-team5/poi_owners

Adding Azure PIpeline yaml for POI (#16)
  apis/poi/azure-piplines.yml
Owners: @openhackdevops2-team5/poi_owners

poi build action (#19)
  .github/workflows/dotnetcore.yml
Owners: none

added acr (#20)
  .github/workflows/dotnetcore.yml
Owners: none

updating poi to 4.2 (#22)
  apis/poi/README.md
Owners: @openhackdevops2-team5/poi_owners

Add build and push to acr (#23)
  .github/workflows/dotnetcore.yml
Owners: none

fix tags (#25)
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

re-run
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

This is initial commit for github action for node
  .github/workflows/nodejs.yml
Owners: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: none

Update and rename dotnetcore.yml to poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Cleaned up naming and triggers
  .github/workflows/poi-ci.yml
Owners: none

Fixed consistent inconsistencies
  .github/workflows/poi-ci.yml
Owners: none

Modified the path
  .github/workflows/nodejs.yml
Owners: none

Fixed test command line
  .github/workflows/poi-ci.yml
Owners: none

ls and pwd
  .github/workflows/nodejs.yml
Owners: none

Updated branches name
  .github/workflows/nodejs.yml
Owners: none

Updated paths for push
  .github/workflows/nodejs.yml
Owners: none

Added test artifact upload
  .github/workflows/poi-ci.yml
Owners: none

Removed bad characters from dotnet test command
  .github/workflows/poi-ci.yml
Owners: none

Fixed use of expressions
  .github/workflows/poi-ci.yml
Owners: none

Updated path to trx file
  .github/workflows/poi-ci.yml
Owners: none

Modified totest
  apis/userprofile/README.md
Owners: @OpenHackDevOps2-Team5/userprofile_owners

.github/CODEOWNERS:

/apis/poi/ @openhackdevops2-team5/poi_owners
/apis/trips/ @manalotoj
/apis/userprofile/ @OpenHackDevOps2-Team5/userprofile_owners
/apis/user-java/* @OpenHackDevOps2-Team5/crushers
