Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openhackdevops2-team5/poi_owners, @manalotoj, @OpenHackDevOps2-Team5/userprofile_owners, @OpenHackDevOps2-Team5/crushers

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: none

Go build and push with docker (#29)
  apis/trips/Dockerfile
Owners: @manalotoj

Create azure-pipelines.yml file (#30)
  apis/trips/azure-pipelines.yml
Owners: @manalotoj

Update README.md
  apis/user-java/README.md
Owners: @OpenHackDevOps2-Team5/crushers

Update healthCheckService.go (#31)
  apis/trips/tests/healthroute_test.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @manalotoj

Update azure-pipelines.yml for image tag latest
  apis/trips/azure-pipelines.yml
Owners: @manalotoj

Enpolat/204 update swagger versions (#205)
  apis/poi/web/Program.cs
  apis/poi/web/Startup.cs
  apis/poi/web/poi.csproj
  apis/trips/Dockerfile
  apis/trips/api/swagger.json
  apis/trips/api/swagger.yaml
  apis/trips/go.mod
  apis/trips/tripsgo/routers.go
  apis/user-java/pom.xml
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApi.java
  apis/user-java/src/main/java/io/swagger/api/UserApi.java
  apis/user-java/src/main/java/io/swagger/configuration/SwaggerDocumentationConfig.java
  apis/userprofile/config/swagger.json
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Owners: @openhackdevops2-team5/poi_owners, @manalotoj, @OpenHackDevOps2-Team5/crushers, @OpenHackDevOps2-Team5/userprofile_owners

updating user java pom.xml to add in missing sql server dependency
  apis/user-java/pom.xml
Owners: @OpenHackDevOps2-Team5/crushers

poi version
  apis/poi/tests/UnitTests/ControllerTests/VersionControllerTests.cs
  apis/poi/web/Controllers/VersionController.cs
  apis/poi/web/Dockerfile
Owners: @openhackdevops2-team5/poi_owners

adding version to trips
  apis/poi/web/Dockerfile
  apis/trips/Dockerfile
  apis/trips/tripsgo/routers.go
  apis/trips/tripsgo/versionService.go
Owners: @openhackdevops2-team5/poi_owners, @manalotoj

initial java version
  apis/user-java/Dockerfile
  apis/user-java/src/main/java/io/swagger/api/VersionApi.java
  apis/user-java/src/main/java/io/swagger/api/VersionApiController.java
Owners: @OpenHackDevOps2-Team5/crushers

removing extra mockito-core dependency
  apis/user-java/pom.xml
Owners: @OpenHackDevOps2-Team5/crushers

adding version for userprofile
  apis/user-java/Dockerfile
  apis/userprofile/Dockerfile
  apis/userprofile/config/swagger.json
  apis/userprofile/handlers/version/user.js
  apis/userprofile/swagger/swagger.yaml
Owners: @OpenHackDevOps2-Team5/crushers, @OpenHackDevOps2-Team5/userprofile_owners

updating user java pom.xml to add in missing sql server dependency (#216)
  apis/user-java/pom.xml
Owners: @OpenHackDevOps2-Team5/crushers

adding newlines to certain files to satisfy linter
  apis/trips/tripsgo/versionService.go
  apis/user-java/src/main/java/io/swagger/api/VersionApi.java
  apis/user-java/src/main/java/io/swagger/api/VersionApiController.java
  apis/userprofile/Dockerfile
  apis/userprofile/handlers/version/user.js
Owners: @manalotoj, @OpenHackDevOps2-Team5/userprofile_owners

Adding Version Endpoints to all apis (#217)
  apis/poi/tests/UnitTests/ControllerTests/VersionControllerTests.cs
  apis/poi/web/Controllers/VersionController.cs
  apis/poi/web/Dockerfile
  apis/trips/Dockerfile
  apis/trips/tripsgo/routers.go
  apis/trips/tripsgo/versionService.go
  apis/user-java/Dockerfile
  apis/user-java/src/main/java/io/swagger/api/VersionApi.java
  apis/user-java/src/main/java/io/swagger/api/VersionApiController.java
  apis/userprofile/Dockerfile
  apis/userprofile/config/swagger.json
  apis/userprofile/handlers/version/user.js
  apis/userprofile/swagger/swagger.yaml
Owners: @openhackdevops2-team5/poi_owners, @manalotoj, @OpenHackDevOps2-Team5/crushers, @OpenHackDevOps2-Team5/userprofile_owners

fixed runtime dependencies of user profile
  .gitignore
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
  apis/userprofile/server.js
Owners: @OpenHackDevOps2-Team5/userprofile_owners

fixed runtime dependencies of user profile (#218)
  .gitignore
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
  apis/userprofile/server.js
Owners: @OpenHackDevOps2-Team5/userprofile_owners

added more poi unit tests
  .gitignore
  apis/poi/tests/UnitTests/ControllerTests/POIControllerTests.cs
  apis/poi/tests/UnitTests/TestData/POIFixture.cs
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  apis/poi/web/Program.cs
  apis/poi/web/Startup.cs
Owners: @openhackdevops2-team5/poi_owners

added healthcheck and POIConfig tests
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @openhackdevops2-team5/poi_owners

moved golang tests to support coverage
  apis/trips/tests/healthroute_test.go
  apis/trips/tripsgo/healthroute_unit_test.go
  apis/trips/tripsgo/queries_unit_test.go
Owners: @manalotoj

added more queries unit tests
  apis/trips/tripsgo/queries_unit_test.go
Owners: @manalotoj

refactored queries test to use assert
  .gitignore
  apis/trips/tripsgo/queries_unit_test.go
Owners: @manalotoj

added version tests
  apis/trips/tripsgo/test_util.go
  apis/trips/tripsgo/versionService.go
  apis/trips/tripsgo/versionService_test.go
Owners: @manalotoj

renamed healthcheck test file and added swagger service tests
  apis/trips/tripsgo/healthCheckService_test.go
  apis/trips/tripsgo/healthroute_unit_test.go
  apis/trips/tripsgo/swaggerService.go
  apis/trips/tripsgo/swaggerService_test.go
Owners: @manalotoj

Added swagger service missing file test
  apis/trips/tripsgo/swaggerService_test.go
Owners: @manalotoj

added logger tests
  apis/trips/tripsgo/errorMessage_test.go
  apis/trips/tripsgo/logger_test.go
  apis/trips/tripsgo/queries_test.go
  apis/trips/tripsgo/test_util.go
Owners: @manalotoj

added more query tests
  apis/trips/tripsgo/queries_test.go
Owners: @manalotoj

fixed integration tests and bug in gettripsforuser query
  .gitignore
  apis/trips/go.mod
  apis/trips/tripsgo/dataAccess.go
  apis/trips/tripsgo/queries.go
  apis/trips/tripsgo/queries_test.go
  apis/trips/tripsgo/tripService_test.go
Owners: @manalotoj

Added dataaccess integration tests
  apis/trips/tripsgo/dataAccess.go
  apis/trips/tripsgo/dataAccess_test.go
Owners: @manalotoj

added failure tests for tripsservice
  apis/trips/tripsgo/dataAccess_test.go
  apis/trips/tripsgo/queries.go
  apis/trips/tripsgo/test_util.go
  apis/trips/tripsgo/tripService_test.go
Owners: @manalotoj

Added cleanup to data access test
  apis/trips/tripsgo/dataAccess_test.go
Owners: @manalotoj

updated readme for trips to include unit and integratino test instructions
  apis/trips/README.md
Owners: @manalotoj

POI - Increased Code Coverage (#219)
  .gitignore
  apis/poi/tests/UnitTests/ControllerTests/POIControllerTests.cs
  apis/poi/tests/UnitTests/TestData/POIFixture.cs
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  apis/poi/web/Program.cs
  apis/poi/web/Startup.cs
Owners: @openhackdevops2-team5/poi_owners

.github/CODEOWNERS:

/apis/poi/ @openhackdevops2-team5/poi_owners
/apis/trips/ @manalotoj
/apis/userprofile/ @OpenHackDevOps2-Team5/userprofile_owners
/apis/user-java/* @OpenHackDevOps2-Team5/crushers
