Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sumeetranu, @briwalkr, @rshelat97, @gangularamya

.github/CODEOWNERS:

/apis/poi/ @sumeetranu 
/apis/trips/ @briwalkr
/apis/user-java/ @rshelat97
/apis/userprofile/ @gangularamya

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none

Update user-java-docker-build-yaml.yaml
  .github/workflows/user-java-docker-build-yaml.yaml
Owners: none

Fix HealthCheck status message
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @sumeetranu

Update README.md
  apis/user-java/README.md
Owners: @rshelat97

Update HC Status Message
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @sumeetranu

Additional Healthcheck changes
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @sumeetranu

update 1branch
  saratest
Owners: none

Update Startup.cs
  apis/poi/web/Startup.cs
Owners: @sumeetranu
