Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahmed812, @subhasishray123, @buvananaji, @gauravrkme, @archnaaju, @manohar133

.github/CODEOWNERS:

/apis/poi/ @ahmed812 @subhasishray123
/apis/trips/ @buvananaji @gauravrkme
/apis/user-java/ @buvananaji @archnaaju
/apis/userprofile/ @manohar133 @ahmed812

Update java-api-flow.yml
  .github/workflows/java-api-flow.yml
Owners: none

Update pr-apis-trips.yml
  .github/workflows/pr-apis-trips.yml
Owners: none

removed template jobs for other code types
  .github/workflows/pr-api-poi.yml
Owners: none

updated filename
  .github/workflows/pr-api-user-java.yml
Owners: none

Added node pr workflow
  .github/workflows/pr-api-userprofile.yml
Owners: none

Update pr-api-user-java.yml
  .github/workflows/pr-api-user-java.yml
Owners: none

merge conflict
  .github/workflows/pr-api-poi.yml
Owners: none

fixes
  .github/workflows/pr-apis-trips.yml
Owners: none

removed the extra job templates
  .github/workflows/pr-api-poi.yml
Owners: none

Update pr-api-user-java.yml
  .github/workflows/pr-api-user-java.yml
Owners: none

fix
  .github/workflows/pr-api-poi.yml
Owners: none

Update pr-api-poi.yml
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

updated trigger
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-apis-trips.yml
Owners: none

removing extra test
  .github/workflows/pr-apis-trips.yml
Owners: none

adding old path back
  .github/workflows/pr-apis-trips.yml
Owners: none

updated package version
  apis/userprofile/package.json
Owners: @manohar133, @ahmed812

updated trigger
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

updated trigger
  .github/workflows/pr-api-poi.yml
Owners: none

updated package version
  apis/userprofile/package.json
Owners: @manohar133, @ahmed812

updated trigger
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger to multiple rules?
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

adding change
  MobileApps/Licenses/AzureMobileClientSQliteStore.LICENSE
Owners: none

adding the build failed
  .github/workflows/pr-api-poi.yml
Owners: none

Added a forced failure
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @ahmed812, @subhasishray123

Update pr-api-poi.yml
  .github/workflows/pr-api-poi.yml
Owners: none

Update pr-api-poi.yml
  .github/workflows/pr-api-poi.yml
Owners: none

Update pr-api-poi.yml
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

updated trigger
  .github/workflows/pr-apis-trips.yml
Owners: none

updated name
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated triggers
  .github/workflows/pr-api-poi.yml
  .github/workflows/pr-api-user-java.yml
  .github/workflows/pr-api-userprofile.yml
  .github/workflows/pr-apis-trips.yml
Owners: none

updated triggers
  .github/workflows/pr-api-poi.yml
  .github/workflows/pr-api-userprofile.yml
Owners: none

added workflow to move issues
  .github/workflows/issue-move-to-project.yml
Owners: none

Added initial workflow to build images
  .github/workflows/challenge4.yml
Owners: none
