Repository Azure-Samples/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahmed812, @subhasishray123, @buvananaji, @gauravrkme, @archnaaju, @manohar133

.github/CODEOWNERS:

/apis/poi/ @ahmed812 @subhasishray123
/apis/trips/ @buvananaji @gauravrkme
/apis/user-java/ @buvananaji @archnaaju
/apis/userprofile/ @manohar133 @ahmed812

updated (#2)
  apis/poi/testfile.txt
Owners: @ahmed812, @subhasishray123

Create cicdrelease
  .github/workflows/cicdrelease
Owners: none

poi action
  .github/workflows/build_push.yml
  CODEOWNERS
Owners: none

modify po
  apis/poi/web/Controllers/HealthcheckController.cs
Owners: @ahmed812, @subhasishray123

Update build_push.yml
  .github/workflows/build_push.yml
Owners: none

modify po
  apis/poi/web/Controllers/HealthcheckController.cs
Owners: @ahmed812, @subhasishray123

modify poi
  .github/workflows/build_push.yml
Owners: none

modify poi one
  apis/poi/web/Controllers/HealthcheckController.cs
Owners: @ahmed812, @subhasishray123

general push
  .github/workflows/build_push.yml
Owners: none

update app name
  .github/workflows/build_push.yml
Owners: none

AB#34 first test
  README.md
Owners: none

poi publish
  .github/workflows/poi_build_push.yml
Owners: none

remove generic build
  .github/workflows/build_push.yml
Owners: none

add trips publish
  .github/workflows/trips_build_push.yml
Owners: none

a change in trips
  apis/trips/main.go
Owners: @buvananaji, @gauravrkme

rename main to master
  .github/workflows/poi_build_push.yml
  .github/workflows/trips_build_push.yml
Owners: none

change 2 in trips
  apis/trips/main.go
Owners: @buvananaji, @gauravrkme

change 3 in trips
  apis/trips/main.go
Owners: @buvananaji, @gauravrkme

change 4 in trips
  apis/trips/main.go
Owners: @buvananaji, @gauravrkme

changed startup.cs
  apis/poi/web/Startup.cs
Owners: @ahmed812, @subhasishray123

startup.cs updated
  apis/poi/web/Startup.cs
Owners: @ahmed812, @subhasishray123

Create .githubdotnet
  .githubdotnet
Owners: none

Create main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update README.md
  README.md
Owners: none

PR linked to work item in Azure Boards
  README.md
Owners: none

Create CODEOWNERS
  CODEOWNERS
Owners: none

Create CODEOWNERS
  CODEOWNERS
Owners: none

Upgrade POI from dotnet2.1 to net5.0
  apis/poi/tests/IntegrationTests/IntegrationTests.csproj
  apis/poi/tests/IntegrationTests/Startup.cs
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/web/Dockerfile
  apis/poi/web/Startup.cs
  apis/poi/web/poi.csproj
Owners: @ahmed812, @subhasishray123

Update Dockerfile with MCR images
  apis/poi/web/Dockerfile
Owners: @ahmed812, @subhasishray123

Added code owners
  CODEOWNERS
Owners: none

test PR
  apis/trips/api/swagger.yaml
Owners: @buvananaji, @gauravrkme

adding test PR
  MobileApps/MyDriving/MyDriving.Android/Activities/BaseActivity.cs
Owners: none

Update {userID}.js
  apis/userprofile/handlers/user/{userID}.js
Owners: @manohar133, @ahmed812

adding change to user-java
  apis/user-java/Dockerfile
Owners: @buvananaji, @archnaaju

Create Test.js
  apis/userprofile/tests/healthcheck/Test.js
Owners: @manohar133, @ahmed812

Create Test1.js
  apis/userprofile/tests/healthcheck/Test1.js
Owners: @manohar133, @ahmed812

added workflow file for POI API
  .github/workflows/pr-api-poi.yml
Owners: none

Create pr-apis-trips.yml
  .github/workflows/pr-apis-trips.yml
Owners: none

Create java-api-flow.yml
  .github/workflows/java-api-flow.yml
Owners: none
