Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @GetafixIT, @arianpopalyar, @Aravind1686, @sureshkolipakulakv

test PR
  apis/trips/api/swagger.yaml
Owners: @arianpopalyar

adding test PR
  MobileApps/MyDriving/MyDriving.Android/Activities/BaseActivity.cs
Owners: none

Update {userID}.js
  apis/userprofile/handlers/user/{userID}.js
Owners: @sureshkolipakulakv

adding change to user-java
  apis/user-java/Dockerfile
Owners: @Aravind1686

Create Test.js
  apis/userprofile/tests/healthcheck/Test.js
Owners: @sureshkolipakulakv

Create Test1.js
  apis/userprofile/tests/healthcheck/Test1.js
Owners: @sureshkolipakulakv

added workflow file for POI API
  .github/workflows/pr-api-poi.yml
Owners: none

Create pr-apis-trips.yml
  .github/workflows/pr-apis-trips.yml
Owners: none

Create java-api-flow.yml
  .github/workflows/java-api-flow.yml
Owners: none

Update java-api-flow.yml
  .github/workflows/java-api-flow.yml
Owners: none

Update pr-apis-trips.yml
  .github/workflows/pr-apis-trips.yml
Owners: none

removed template jobs for other code types
  .github/workflows/pr-api-poi.yml
Owners: none

updated filename
  .github/workflows/pr-api-user-java.yml
Owners: none

Added node pr workflow
  .github/workflows/pr-api-userprofile.yml
Owners: none

Update pr-api-user-java.yml
  .github/workflows/pr-api-user-java.yml
Owners: none

merge conflict
  .github/workflows/pr-api-poi.yml
Owners: none

fixes
  .github/workflows/pr-apis-trips.yml
Owners: none

removed the extra job templates
  .github/workflows/pr-api-poi.yml
Owners: none

Update pr-api-user-java.yml
  .github/workflows/pr-api-user-java.yml
Owners: none

fix
  .github/workflows/pr-api-poi.yml
Owners: none

Update pr-api-poi.yml
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

updated trigger
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-apis-trips.yml
Owners: none

removing extra test
  .github/workflows/pr-apis-trips.yml
Owners: none

adding old path back
  .github/workflows/pr-apis-trips.yml
Owners: none

updated package version
  apis/userprofile/package.json
Owners: @sureshkolipakulakv

updated trigger
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

updated trigger
  .github/workflows/pr-api-poi.yml
Owners: none

updated package version
  apis/userprofile/package.json
Owners: @sureshkolipakulakv

updated trigger
  .github/workflows/pr-api-poi.yml
Owners: none

updated trigger to multiple rules?
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-api-userprofile.yml
Owners: none

updated trigger
  .github/workflows/pr-api-user-java.yml
Owners: none

adding change
  MobileApps/Licenses/AzureMobileClientSQliteStore.LICENSE
Owners: none

adding the build failed
  .github/workflows/pr-api-poi.yml
Owners: none

Added a forced failure
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @GetafixIT

Update pr-api-poi.yml
  .github/workflows/pr-api-poi.yml
Owners: none

CODEOWNERS:

apis/poi @GetafixIT
apis/trips @arianpopalyar
apis/user-java @Aravind1686
apis/userprofile @sureshkolipakulakv
