Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @ivegamsft, @shadmsft, @jason-chong, @techbunny

Create main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Updated the docker images on poi/web to mcr.microsoft.com/dotnet/
  apis/poi/web/Dockerfile
Owners: @ivegamsft

Updated the docker file
  apis/poi/web/Dockerfile
Owners: @ivegamsft

Create dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Delete main.yml
  .github/workflows/main.yml
Owners: none

Delete main.yml
  .github/workflows/main.yml
Owners: none

Updated the docker file
  apis/poi/web/Dockerfile
Owners: @ivegamsft

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: none

Updated the docker file
  apis/poi/web/Dockerfile
Owners: @ivegamsft

Updated the github actions file
  .github/workflows/dotnet.yml
Owners: none

Updated the docker file
  apis/poi/web/Dockerfile
Owners: @ivegamsft

Updated the github actions file
  .github/workflows/dotnet.yml
Owners: none

Updated the github actions file
  .github/workflows/dotnet.yml
Owners: none

Updated the github actions file
  .github/workflows/dotnet.yml
Owners: none

Updated the github actions file and test
  .github/workflows/dotnet.yml
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @ivegamsft

Updated the github actions file and test
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @ivegamsft

Updated the github actions file and test
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @ivegamsft

Updated the github actions file and deploy job
  .github/workflows/dotnet.yml
Owners: none

Updated the github actions file and deploy job
  .github/workflows/dotnet.yml
Owners: none

Update Dockerfile with MCR images (#276)
  apis/poi/web/Dockerfile
Owners: @ivegamsft

fixes userprofile unit tests (#227)
  apis/userprofile/config/swagger.json
  apis/userprofile/package.json
Owners: @techbunny

Update README.md (#299)
  README.md
Owners: none

3.1
  apis/poi/web/Dockerfile
Owners: @ivegamsft

HealthCheckResponse
  apis/poi/web/Startup.cs
Owners: @ivegamsft

HealthCheckResponse (#302)
  apis/poi/web/Startup.cs
Owners: @ivegamsft

added devcontainer (#226)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Owners: none

devcon
  .devcontainer/Dockerfile
  apis/user-java/Dockerfile
  apis/userprofile/Dockerfile
Owners: @jason-chong, @techbunny

.
  .devcontainer/devcontainer.json
  apis/userprofile/README.md
Owners: @techbunny

go
  .devcontainer/Dockerfile
  apis/trips/Dockerfile
  apis/trips/glide.yaml
  apis/trips/go.mod
Owners: @shadmsft

cleanup
  .devcontainer/Dockerfile
Owners: none

Devcontainer (#303)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  apis/trips/Dockerfile
  apis/trips/glide.yaml
  apis/trips/go.mod
  apis/user-java/Dockerfile
  apis/userprofile/Dockerfile
  apis/userprofile/README.md
Owners: @shadmsft, @jason-chong, @techbunny

npm updates
  .devcontainer/devcontainer.json
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Owners: @techbunny

npm updates (#307)
  .devcontainer/devcontainer.json
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Owners: @techbunny

Update README.md
  README.md
Owners: none

Update README.md (#308)
  README.md
Owners: none

Fix/v2 (#309)
  .devcontainer/devcontainer.json
  README.md
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Owners: @techbunny

bicep init
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/main.bicep
  bicep/resourceGroup.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
Owners: none

.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  bicep/sqlServer.bicep
Owners: none

bicep basic deployment (#310)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/main.bicep
  bicep/resourceGroup.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
Owners: none

CODEOWNERS:

# Add code owners for the repo
# that will require approval

/apis/poi @ivegamsft
/apis/trips @shadmsft
/apis/user-java @jason-chong
/apis/userprofile @techbunny
