Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

CODEOWNERS:

# General owners
# good comments are more useful :)
* @oberlaender @Maverick-ctrl @cxyix @openhandy

# API owners
# POI Owner
apis/poi/ @openhandy

# Trips
/apis/trips/ @Maverick-ctrl

# User-java
/apis/user-java/ @cxyix

# userprofile
/apis/userprofile/ @oberlaender

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Create docker-image-userprofile.yml
  .github/workflows/docker-image-userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update docker-image-userprofile.yml
  .github/workflows/docker-image-userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Rename docker-image.yml to user-java-docker-image.yml
  .github/workflows/user-java-docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Create api-trips-image-build.yml
  .github/workflows/api-trips-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update docker-image-userprofile.yml
  .github/workflows/docker-image-userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update user-java-docker-image.yml
  .github/workflows/user-java-docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-trips-image-build.yml
  .github/workflows/api-trips-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/trips/README.md
Owners: @Maverick-ctrl

Update user-java-docker-image.yml
  .github/workflows/user-java-docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update docker-image-userprofile.yml
  .github/workflows/docker-image-userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/userprofile/README.md
Owners: @oberlaender

Update user-java-docker-image.yml
  .github/workflows/user-java-docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update user-java-docker-image.yml
  .github/workflows/user-java-docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Add or update the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update user-java-docker-image.yml
  .github/workflows/user-java-docker-image.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy
