Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Openhack-DevOps-2-0-team1/global_team, @slamb2k, @gitstua, @prabdeb, @goupadhy, @neosaybin, @akirakakar

Re-Build of AB#1
  README.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Create dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  README.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

added tmate to aid debugging
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

dependency versions bumped
  apis/trips/go.mod
Owners: @prabdeb, @goupadhy

localhost part removed from swagger json url
  apis/trips/tripsgo/routers.go
Owners: @Openhack-DevOps-2-0-team1/global_team

Create CODEOWNERS Template
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Delegate CodeOwnership
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  README.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  apis/poi/README.md
Owners: @slamb2k, @gitstua

Update README.md
  apis/poi/README.md
Owners: @slamb2k, @gitstua

Update README.md
  apis/poi/README.md
Owners: @slamb2k, @gitstua

Update README.md
  README.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Updated Codeowners
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Create dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  apis/poi/README.md
Owners: @slamb2k, @gitstua

Create maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  apis/poi/README.md
Owners: @slamb2k, @gitstua

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

added issue check to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

small update to template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Openhack-DevOps-2-0-team1/global_team

removing GH label from template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

added issue id number
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Openhack-DevOps-2-0-team1/global_team

Create nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Openhack-DevOps-2-0-team1/global_team
apis/poi/* @slamb2k @gitstua
apis/trips/* @prabdeb @goupadhy
apis/user-java/* @neosaybin @gitstua
apis/userprofile/* @akirakakar @prabdeb
