Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Openhack-DevOps-2-0-team1/global_team, @slamb2k, @gitstua, @prabdeb, @goupadhy, @neosaybin, @akirakakar

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Openhack-DevOps-2-0-team1/global_team
apis/poi/* @slamb2k @gitstua
apis/trips/* @prabdeb @goupadhy
apis/user-java/* @neosaybin @gitstua
apis/userprofile/* @akirakakar @prabdeb

moved golang tests to support coverage
  apis/trips/tests/healthroute_test.go
  apis/trips/tripsgo/healthroute_unit_test.go
  apis/trips/tripsgo/queries_unit_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

added more queries unit tests
  apis/trips/tripsgo/queries_unit_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

refactored queries test to use assert
  .gitignore
  apis/trips/tripsgo/queries_unit_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

added version tests
  apis/trips/tripsgo/test_util.go
  apis/trips/tripsgo/versionService.go
  apis/trips/tripsgo/versionService_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

renamed healthcheck test file and added swagger service tests
  apis/trips/tripsgo/healthCheckService_test.go
  apis/trips/tripsgo/healthroute_unit_test.go
  apis/trips/tripsgo/swaggerService.go
  apis/trips/tripsgo/swaggerService_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

Added swagger service missing file test
  apis/trips/tripsgo/swaggerService_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

added logger tests
  apis/trips/tripsgo/errorMessage_test.go
  apis/trips/tripsgo/logger_test.go
  apis/trips/tripsgo/queries_test.go
  apis/trips/tripsgo/test_util.go
Owners: @Openhack-DevOps-2-0-team1/global_team

added more query tests
  apis/trips/tripsgo/queries_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

fixed integration tests and bug in gettripsforuser query
  .gitignore
  apis/trips/go.mod
  apis/trips/tripsgo/dataAccess.go
  apis/trips/tripsgo/queries.go
  apis/trips/tripsgo/queries_test.go
  apis/trips/tripsgo/tripService_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team, @prabdeb, @goupadhy

Added dataaccess integration tests
  apis/trips/tripsgo/dataAccess.go
  apis/trips/tripsgo/dataAccess_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

added failure tests for tripsservice
  apis/trips/tripsgo/dataAccess_test.go
  apis/trips/tripsgo/queries.go
  apis/trips/tripsgo/test_util.go
  apis/trips/tripsgo/tripService_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

Added cleanup to data access test
  apis/trips/tripsgo/dataAccess_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

updated readme for trips to include unit and integratino test instructions
  apis/trips/README.md
Owners: @prabdeb, @goupadhy

POI - Increased Code Coverage (#219)
  .gitignore
  apis/poi/tests/UnitTests/ControllerTests/POIControllerTests.cs
  apis/poi/tests/UnitTests/TestData/POIFixture.cs
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  apis/poi/web/Program.cs
  apis/poi/web/Startup.cs
Owners: @Openhack-DevOps-2-0-team1/global_team

Create CODEOWNERS
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Update CODEOWNERS
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Update CODEOWNERS
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

test
  README.md
Owners: @Openhack-DevOps-2-0-team1/global_team
