Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @ivegamsft, @shadmsft, @jason-chong, @techbunny

CODEOWNERS:

# Add code owners for the repo
# that will require approval

/apis/poi @ivegamsft
/apis/trips @shadmsft
/apis/user-java @jason-chong
/apis/userprofile @techbunny

.
  support/simulator/DeviceSim/App.config
  support/simulator/DeviceSim/Program.cs
Owners: none

.
  iac/bicep/appService.Test.ps1
  iac/bicep/deploy.sh
  iac/terraform/appService.Test.ps1
Owners: none

.
  iac/terraform/deploy.sh
Owners: none

Bicepfixes (#321)
  iac/bicep/appService.Test.ps1
  iac/bicep/appService.bicep
  iac/bicep/apps.bicep
  iac/bicep/datainit.sh
  iac/bicep/deploy.sh
  iac/bicep/dockerbuild.sh
  iac/bicep/smokeTest.ps1
  iac/terraform/appService.Test.ps1
  iac/terraform/deploy.sh
  iac/terraform/smokeTest.ps1
  support/simulator/DeviceSim/App.config
  support/simulator/DeviceSim/Program.cs
  support/tripviewer/web/Views/Home/Index.cshtml
Owners: none

.
  iac/bicep/appService.Test.ps1
  iac/bicep/main.bicep
  iac/terraform/appService.Test.ps1
  iac/terraform/outputs.tf
Owners: none

. (#322)
  iac/bicep/appService.Test.ps1
  iac/bicep/main.bicep
  iac/terraform/appService.Test.ps1
  iac/terraform/outputs.tf
Owners: none

test
  iac/bicep/smokeTest.ps1
  iac/terraform/smokeTest.ps1
Owners: none

test (#323)
  iac/bicep/smokeTest.ps1
  iac/terraform/smokeTest.ps1
Owners: none

tests
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Owners: none

tests (#324)
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Owners: none

v2
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Owners: none

v2 (#325)
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Owners: none

devcontainer docker file fix
  .devcontainer/Dockerfile
Owners: none

devcontainer docker file fix (#326)
  .devcontainer/Dockerfile
Owners: none

initial buildtest scripts
  apis/poi/buildtest.sh
  apis/trips/buildtest.sh
  apis/userprofile/buildtest..sh
Owners: @ivegamsft, @shadmsft, @techbunny

buildtest scripts
  apis/trips/buildtest.sh
  apis/user-java/buildtest.sh
  apis/userprofile/buildtest..sh
  apis/userprofile/buildtest.sh
Owners: @shadmsft, @jason-chong, @techbunny

Update main.bicep
  iac/bicep/main.bicep
Owners: none

Update main.bicep (#328)
  iac/bicep/main.bicep
Owners: none

Api build test scripts (#327)
  apis/poi/buildtest.sh
  apis/trips/buildtest.sh
  apis/user-java/buildtest.sh
  apis/userprofile/buildtest.sh
Owners: @ivegamsft, @shadmsft, @jason-chong, @techbunny

poi tests
  apis/poi/README.md
  apis/poi/buildtest.sh
Owners: @ivegamsft

poi tests (#330)
  apis/poi/README.md
  apis/poi/buildtest.sh
Owners: @ivegamsft

trips - build & test
  .gitignore
  apis/poi/README.md
  apis/poi/buildtest.sh
  apis/trips/README.md
  apis/trips/buildtest.sh
  apis/trips/install_gotestsum.sh
Owners: @ivegamsft, @shadmsft

trips - build & test (#331)
  .gitignore
  apis/poi/README.md
  apis/poi/buildtest.sh
  apis/trips/README.md
  apis/trips/buildtest.sh
  apis/trips/install_gotestsum.sh
Owners: @ivegamsft, @shadmsft

userjava
  apis/user-java/README.md
  apis/user-java/buildtest.sh
Owners: @jason-chong

userprofile
  apis/userprofile/buildtest.sh
Owners: @techbunny

trips go fix
  apis/trips/README.md
  apis/trips/buildtest.sh
Owners: @shadmsft

User (#332)
  apis/trips/README.md
  apis/trips/buildtest.sh
  apis/user-java/README.md
  apis/user-java/buildtest.sh
  apis/userprofile/buildtest.sh
Owners: @shadmsft, @jason-chong, @techbunny

dev ver
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/outputs.tf
  iac/terraform/providers.tf
  support/resources/generic_endpoint.sh
  support/resources/generic_endpoint_template.json
  support/resources/healthcheck_polling.sh
  support/resources/polling.ps1
  support/resources/polling.sh
  support/tripviewer/Dockerfile
  support/tripviewer/web/Controllers/HomeController.cs
  support/tripviewer/web/Utility/TripViewerConfiguration.cs
  support/tripviewer/web/Views/Home/Index.cshtml
  support/tripviewer/web/appsettings.Development.json
  support/tripviewer/web/appsettings.json
Owners: @ivegamsft

.
  iac/terraform/main.tf
Owners: none

P1V2
  iac/terraform/main.tf
Owners: none

STAGING_USER_ROOT_URL
  iac/terraform/main.tf
Owners: none

PremiumV2
  iac/terraform/main.tf
Owners: none

P1v2
  iac/terraform/main.tf
Owners: none

h4h4
  support/tripviewer/web/Views/Home/Index.cshtml
Owners: none

Big change (#333)
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/outputs.tf
  iac/terraform/providers.tf
  support/resources/generic_endpoint.sh
  support/resources/generic_endpoint_template.json
  support/resources/healthcheck_polling.sh
  support/resources/polling.ps1
  support/resources/polling.sh
  support/tripviewer/Dockerfile
  support/tripviewer/web/Controllers/HomeController.cs
  support/tripviewer/web/Utility/TripViewerConfiguration.cs
  support/tripviewer/web/Views/Home/Index.cshtml
  support/tripviewer/web/appsettings.Development.json
  support/tripviewer/web/appsettings.json
Owners: @ivegamsft

tf docker_registry
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/variables.tf
Owners: none

tf docker_registry (#334)
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/variables.tf
Owners: none

v2
  support/simulator/DeviceSim/Controllers/BaseTRipController.cs
  support/simulator/DeviceSim/DataObjects/ModelExtensions/mydrivingDBContext.cs
  support/simulator/DeviceSim/DataObjects/Models/mydrivingDBContext.cs
  support/simulator/DeviceSim/DeviceSim.csproj
  support/simulator/DeviceSim/Program.cs
  support/simulator/Dockerfile
Owners: none

sqlsecrot
  iac/terraform/main.tf
  support/sqlsecretrotation/iac/terraform/deploy.sh
  support/sqlsecretrotation/iac/terraform/locals.tf
  support/sqlsecretrotation/iac/terraform/main.tf
  support/sqlsecretrotation/iac/terraform/providers.tf
  support/sqlsecretrotation/iac/terraform/variables.tf
  support/sqlsecretrotation/src/.dockerignore
  support/sqlsecretrotation/src/AKVSQLRotation.cs
  support/sqlsecretrotation/src/AKVSQLRotationHttp.cs
  support/sqlsecretrotation/src/Dockerfile
  support/sqlsecretrotation/src/KeyVault-Rotation-SQLPassword-Csharp.csproj
  support/sqlsecretrotation/src/SecretRotator.cs
  support/sqlsecretrotation/src/host.json
  support/sqlsecretrotation/src/local.settings.json
Owners: none

bicep
  support/sqlsecretrotation/.azure-pipelines/pipeline.bicep.sqlsecrot.yml
  support/sqlsecretrotation/.azure-pipelines/pipeline.terraform.sqlsecrot.yml
  support/sqlsecretrotation/iac/bicep/deploy.sh
  support/sqlsecretrotation/iac/bicep/keyVault.bicep
  support/sqlsecretrotation/iac/bicep/main.bicep
  support/sqlsecretrotation/iac/terraform/deploy.sh
  support/sqlsecretrotation/iac/terraform/locals.tf
  support/sqlsecretrotation/iac/terraform/main.tf
  support/sqlsecretrotation/iac/terraform/variables.tf
Owners: none
