Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @shooker, @selleny, @hraffaele, @MSFTDELANEY, @JSandersMSFT

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

* @shooker

/apis/poi/ @selleny @hraffaele
/apis/trips/ @hraffaele @shooker
/apis/user-java/ @MSFTDELANEY @selleny
/apis/userprofile/ @JSandersMSFT @MSFTDELANEY

Create CODEOWNERS
  .github/CODEOWNERS
Owners: @shooker

Update CODEOWNERS
  .github/CODEOWNERS
Owners: @shooker

Create test1
  test1
Owners: @shooker

Create test2
  apis/userprofile/test2
Owners: @JSandersMSFT, @MSFTDELANEY

Create test3
  apis/poi/test3
Owners: @selleny, @hraffaele

Create test4
  apis/poi/test4
Owners: @selleny, @hraffaele

Create test5
  apis/trips/test5
Owners: @hraffaele, @shooker
