Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Openhack-DevOps-2-0-team1/global_team, @slamb2k, @gitstua, @prabdeb, @goupadhy, @neosaybin, @akirakakar

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Create go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

create codeowners files (#5)
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

updating code owners 2nd time around (#8)
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Update go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

changed readme on trips to test (#10)
  apis/trips/README.md
Owners: @prabdeb, @goupadhy

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

adding more teams to code owners file (#13)
  .github/CODEOWNERS
Owners: @Openhack-DevOps-2-0-team1/global_team

Update go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

changing readme count to 4 (#15)
  apis/userprofile/README.md
Owners: @akirakakar, @prabdeb

Specifying a Build Name
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update healthroute_test.go
  apis/trips/tests/healthroute_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  apis/trips/tests/healthroute_test.go
Owners: @Openhack-DevOps-2-0-team1/global_team

added starter pipeline
  apis/poi/azure-piplines.yml
Owners: @slamb2k, @gitstua

pipeline changes
  apis/poi/azure-piplines.yml
Owners: @slamb2k, @gitstua

removing leading slash in path
  apis/poi/azure-piplines.yml
Owners: @slamb2k, @gitstua

added docker build and push
  apis/poi/azure-piplines.yml
Owners: @slamb2k, @gitstua

Adding Azure PIpeline yaml for POI (#16)
  apis/poi/azure-piplines.yml
Owners: @slamb2k, @gitstua

poi build action (#19)
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

added acr (#20)
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

updating poi to 4.2 (#22)
  apis/poi/README.md
Owners: @slamb2k, @gitstua

Add build and push to acr (#23)
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

fix tags (#25)
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

re-run
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Openhack-DevOps-2-0-team1/global_team
apis/poi/* @slamb2k @gitstua
apis/trips/* @prabdeb @goupadhy
apis/user-java/* @neosaybin @gitstua
apis/userprofile/* @akirakakar @prabdeb
