Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Openhack-DevOps-2-0-team1/global_team, @slamb2k, @gitstua, @prabdeb, @goupadhy, @neosaybin, @akirakakar

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Openhack-DevOps-2-0-team1/global_team
apis/poi/* @slamb2k @gitstua
apis/trips/* @prabdeb @goupadhy
apis/user-java/* @neosaybin @gitstua
apis/userprofile/* @akirakakar @prabdeb

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildTest.yml
  .github/workflows/buildTest.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Create buildpushPOI.yml
  .github/workflows/buildpushPOI.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Delete buildTest.yml
  .github/workflows/buildTest.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushPOI.yml
  .github/workflows/buildpushPOI.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update nodejs.yml
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update maven.yml
  .github/workflows/maven.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update go.yml
  .github/workflows/go.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update workdir for Docker Build POI
  .github/workflows/buildpushPOI.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Create buildpushUserProfile.yml
  .github/workflows/buildpushUserProfile.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Create buildpushTrips.yml
  .github/workflows/buildpushTrips.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Delete buildPublishTrips.yml
  .github/workflows/buildPublishTrips.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Go build and push with docker (#29)
  apis/trips/Dockerfile
Owners: @prabdeb, @goupadhy

Create azure-pipelines.yml file (#30)
  apis/trips/azure-pipelines.yml
Owners: @prabdeb, @goupadhy

Update README.md
  apis/user-java/README.md
Owners: @neosaybin, @gitstua

Update healthCheckService.go (#31)
  apis/trips/tests/healthroute_test.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @Openhack-DevOps-2-0-team1/global_team

Update azure-pipelines.yml for image tag latest
  apis/trips/azure-pipelines.yml
Owners: @prabdeb, @goupadhy

Enpolat/204 update swagger versions (#205)
  apis/poi/web/Program.cs
  apis/poi/web/Startup.cs
  apis/poi/web/poi.csproj
  apis/trips/Dockerfile
  apis/trips/api/swagger.json
  apis/trips/api/swagger.yaml
  apis/trips/go.mod
  apis/trips/tripsgo/routers.go
  apis/user-java/pom.xml
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApi.java
  apis/user-java/src/main/java/io/swagger/api/UserApi.java
  apis/user-java/src/main/java/io/swagger/configuration/SwaggerDocumentationConfig.java
  apis/userprofile/config/swagger.json
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Owners: @Openhack-DevOps-2-0-team1/global_team, @prabdeb, @goupadhy, @neosaybin, @gitstua, @akirakakar

updating user java pom.xml to add in missing sql server dependency
  apis/user-java/pom.xml
Owners: @neosaybin, @gitstua

poi version
  apis/poi/tests/UnitTests/ControllerTests/VersionControllerTests.cs
  apis/poi/web/Controllers/VersionController.cs
  apis/poi/web/Dockerfile
Owners: @Openhack-DevOps-2-0-team1/global_team

adding version to trips
  apis/poi/web/Dockerfile
  apis/trips/Dockerfile
  apis/trips/tripsgo/routers.go
  apis/trips/tripsgo/versionService.go
Owners: @Openhack-DevOps-2-0-team1/global_team, @prabdeb, @goupadhy

initial java version
  apis/user-java/Dockerfile
  apis/user-java/src/main/java/io/swagger/api/VersionApi.java
  apis/user-java/src/main/java/io/swagger/api/VersionApiController.java
Owners: @neosaybin, @gitstua, @Openhack-DevOps-2-0-team1/global_team

removing extra mockito-core dependency
  apis/user-java/pom.xml
Owners: @neosaybin, @gitstua

adding version for userprofile
  apis/user-java/Dockerfile
  apis/userprofile/Dockerfile
  apis/userprofile/config/swagger.json
  apis/userprofile/handlers/version/user.js
  apis/userprofile/swagger/swagger.yaml
Owners: @neosaybin, @gitstua, @akirakakar, @prabdeb, @Openhack-DevOps-2-0-team1/global_team

updating user java pom.xml to add in missing sql server dependency (#216)
  apis/user-java/pom.xml
Owners: @neosaybin, @gitstua

adding newlines to certain files to satisfy linter
  apis/trips/tripsgo/versionService.go
  apis/user-java/src/main/java/io/swagger/api/VersionApi.java
  apis/user-java/src/main/java/io/swagger/api/VersionApiController.java
  apis/userprofile/Dockerfile
  apis/userprofile/handlers/version/user.js
Owners: @Openhack-DevOps-2-0-team1/global_team, @akirakakar, @prabdeb

Adding Version Endpoints to all apis (#217)
  apis/poi/tests/UnitTests/ControllerTests/VersionControllerTests.cs
  apis/poi/web/Controllers/VersionController.cs
  apis/poi/web/Dockerfile
  apis/trips/Dockerfile
  apis/trips/tripsgo/routers.go
  apis/trips/tripsgo/versionService.go
  apis/user-java/Dockerfile
  apis/user-java/src/main/java/io/swagger/api/VersionApi.java
  apis/user-java/src/main/java/io/swagger/api/VersionApiController.java
  apis/userprofile/Dockerfile
  apis/userprofile/config/swagger.json
  apis/userprofile/handlers/version/user.js
  apis/userprofile/swagger/swagger.yaml
Owners: @Openhack-DevOps-2-0-team1/global_team, @prabdeb, @goupadhy, @neosaybin, @gitstua, @akirakakar

fixed runtime dependencies of user profile
  .gitignore
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
  apis/userprofile/server.js
Owners: @Openhack-DevOps-2-0-team1/global_team, @akirakakar, @prabdeb

fixed runtime dependencies of user profile (#218)
  .gitignore
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
  apis/userprofile/server.js
Owners: @Openhack-DevOps-2-0-team1/global_team, @akirakakar, @prabdeb

added more poi unit tests
  .gitignore
  apis/poi/tests/UnitTests/ControllerTests/POIControllerTests.cs
  apis/poi/tests/UnitTests/TestData/POIFixture.cs
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  apis/poi/web/Program.cs
  apis/poi/web/Startup.cs
Owners: @Openhack-DevOps-2-0-team1/global_team

added healthcheck and POIConfig tests
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @Openhack-DevOps-2-0-team1/global_team
