Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @Openhack-DevOps-2-0-team1/global_team, @slamb2k, @gitstua, @prabdeb, @goupadhy, @neosaybin, @akirakakar

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Openhack-DevOps-2-0-team1/global_team
apis/poi/* @slamb2k @gitstua
apis/trips/* @prabdeb @goupadhy
apis/user-java/* @neosaybin @gitstua
apis/userprofile/* @akirakakar @prabdeb

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

This is initial commit for github action for node
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update and rename dotnetcore.yml to poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Cleaned up naming and triggers
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Fixed consistent inconsistencies
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Modified the path
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Fixed test command line
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

ls and pwd
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Updated branches name
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Updated paths for push
  .github/workflows/nodejs.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Added test artifact upload
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Removed bad characters from dotnet test command
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Fixed use of expressions
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Updated path to trx file
  .github/workflows/poi-ci.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Modified totest
  apis/userprofile/README.md
Owners: @akirakakar, @prabdeb

Create dockerpublish.yml
  .github/workflows/dockerpublish.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  apis/trips/README.md
Owners: @prabdeb, @goupadhy

Update and rename dockerpublish.yml to buildPublishTrips.yml
  .github/workflows/buildPublishTrips.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildPublishTrips.yml
  .github/workflows/buildPublishTrips.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildPublishTrips.yml
  .github/workflows/buildPublishTrips.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update README.md
  apis/trips/README.md
Owners: @prabdeb, @goupadhy

Update buildPublishTrips.yml
  .github/workflows/buildPublishTrips.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Create buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Update buildpushUserJava.yml
  .github/workflows/buildpushUserJava.yml
Owners: @Openhack-DevOps-2-0-team1/global_team

Adding Docker Build and Publish Test Workflow
  .github/workflows/buildTest.yml
Owners: @Openhack-DevOps-2-0-team1/global_team
