Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @ivegamsft, @shadmsft, @jason-chong, @techbunny

CODEOWNERS:

# Add code owners for the repo
# that will require approval

/apis/poi @ivegamsft
/apis/trips @shadmsft
/apis/user-java @jason-chong
/apis/userprofile @techbunny

tr init + bicep fixes
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
  terraform/deploy.sh
  terraform/locals.defaults.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/myip.sh
  terraform/providers.tf
  terraform/variables.tf
Owners: none

tr init + bicep fixes (#311)
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
  terraform/deploy.sh
  terraform/locals.defaults.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/myip.sh
  terraform/providers.tf
  terraform/variables.tf
Owners: none

resourcesPrefix & deploy scripts
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/sqlServer.bicep
  terraform/deploy.sh
  terraform/locals.tf
  terraform/variables.tf
Owners: none

lint
  .devcontainer/Dockerfile
  apis/poi/web/poi.csproj
  bicep/bicepconfig.json
  bicep/deploy.sh
  bicep/main.bicep
  bicep/variables.json
  terraform/deploy.sh
Owners: @ivegamsft

.
  terraform/deploy.sh
Owners: none

deploy .
  bicep/deploy.sh
  terraform/deploy.sh
Owners: none

.
  .devcontainer/Dockerfile
  .gitignore
  apis/user-java/pom.xml
  bicep/appService.Test.ps1
  bicep/appService.bicep
  bicep/bicepconfig.json
  bicep/deploy.sh
  bicep/main.bicep
  bicep/smokeTest.ps1
Owners: @jason-chong

deploy bicep
  bicep/deploy.sh
Owners: none

tf
  bicep/deploy.sh
  terraform/appService.Test.ps1
  terraform/deploy.sh
  terraform/locals.defaults.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/smokeTest.ps1
  terraform/variables.tf
Owners: none

OutputFormat
  bicep/smokeTest.ps1
  terraform/smokeTest.ps1
Owners: none

junit
  .gitignore
  bicep/smokeTest.ps1
  terraform/smokeTest.ps1
Owners: none

Iacdeploy (#312)
  .devcontainer/Dockerfile
  .gitignore
  apis/poi/web/poi.csproj
  apis/user-java/pom.xml
  bicep/appService.Test.ps1
  bicep/appService.bicep
  bicep/bicepconfig.json
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/smokeTest.ps1
  bicep/sqlServer.bicep
  bicep/variables.json
  terraform/appService.Test.ps1
  terraform/deploy.sh
  terraform/locals.defaults.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/smokeTest.ps1
  terraform/variables.tf
Owners: @ivegamsft, @jason-chong

moved
  iac/bicep/appService.Test.ps1
  iac/bicep/appService.bicep
  iac/bicep/bicepconfig.json
  iac/bicep/containerGroup.bicep
  iac/bicep/containerRegistry.bicep
  iac/bicep/deploy.sh
  iac/bicep/main.bicep
  iac/bicep/resourceGroup.bicep
  iac/bicep/smokeTest.ps1
  iac/bicep/sqlServer.bicep
  iac/bicep/variables.json
  iac/terraform/appService.Test.ps1
  iac/terraform/deploy.sh
  iac/terraform/locals.defaults.tf
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/myip.sh
  iac/terraform/outputs.tf
  iac/terraform/providers.tf
  iac/terraform/smokeTest.ps1
  iac/terraform/variables.tf
Owners: none

moved (#313)
  iac/bicep/appService.Test.ps1
  iac/bicep/appService.bicep
  iac/bicep/bicepconfig.json
  iac/bicep/containerGroup.bicep
  iac/bicep/containerRegistry.bicep
  iac/bicep/deploy.sh
  iac/bicep/main.bicep
  iac/bicep/resourceGroup.bicep
  iac/bicep/smokeTest.ps1
  iac/bicep/sqlServer.bicep
  iac/bicep/variables.json
  iac/terraform/appService.Test.ps1
  iac/terraform/deploy.sh
  iac/terraform/locals.defaults.tf
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/myip.sh
  iac/terraform/outputs.tf
  iac/terraform/providers.tf
  iac/terraform/smokeTest.ps1
  iac/terraform/variables.tf
Owners: none

slot
  iac/bicep/appService.bicep
Owners: none

slots
  .gitignore
  iac/bicep/appService.bicep
  iac/bicep/sqlServer.bicep
  iac/terraform/apps.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/providers.tf
Owners: none

Slots (#315)
  .gitignore
  iac/bicep/appService.bicep
  iac/bicep/sqlServer.bicep
  iac/terraform/apps.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/providers.tf
Owners: none

bicep simulator
  LICENSE.md
  README.md
  iac/bicep/apps.bicep
  iac/bicep/containerRegistry.bicep
  iac/bicep/deploy.sh
  iac/bicep/main.bicep
  iac/bicep/managedIdentity.bicep
  iac/bicep/sqlServer.bicep
  iac/bicep/variables.json
Owners: none

bicep simulator (#316)
  LICENSE.md
  README.md
  iac/bicep/apps.bicep
  iac/bicep/containerRegistry.bicep
  iac/bicep/deploy.sh
  iac/bicep/main.bicep
  iac/bicep/managedIdentity.bicep
  iac/bicep/sqlServer.bicep
  iac/bicep/variables.json
Owners: none

3.1?
  support/simulator/DeviceSim/App.config
  support/simulator/DeviceSim/Controllers/ApiTripController.cs
  support/simulator/DeviceSim/Controllers/BaseTRipController.cs
  support/simulator/DeviceSim/Controllers/EFTripController.cs
  support/simulator/DeviceSim/DataObjects/ModelExtensions/Trips.cs
  support/simulator/DeviceSim/DataObjects/ModelExtensions/mydrivingDBContext.cs
  support/simulator/DeviceSim/DataObjects/Models/Devices.cs
  support/simulator/DeviceSim/DataObjects/Models/IothubDatas.cs
  support/simulator/DeviceSim/DataObjects/Models/Pois.cs
  support/simulator/DeviceSim/DataObjects/Models/Poisource.cs
  support/simulator/DeviceSim/DataObjects/Models/TripPointSource.cs
  support/simulator/DeviceSim/DataObjects/Models/TripPoints.cs
  support/simulator/DeviceSim/DataObjects/Models/mydrivingDBContext.cs
  support/simulator/DeviceSim/DeviceSim.csproj
  support/simulator/DeviceSim/Helpers/ConnectionStringHelper.cs
  support/simulator/DeviceSim/Helpers/Logger.cs
  support/simulator/DeviceSim/Interfaces/ILogger.cs
  support/simulator/DeviceSim/Program.cs
  support/simulator/Dockerfile
  support/simulator/Simulator.DataObjects/BaseDataObject.cs
  support/simulator/Simulator.DataObjects/Simulator.DataObjects.csproj
  support/simulator/Simulator.DataStore.API/DataObjects/Poi.cs
  support/simulator/Simulator.DataStore.API/DataObjects/Trip.cs
  support/simulator/Simulator.DataStore.API/DataObjects/TripPoint.cs
  support/simulator/Simulator.DataStore.API/DataObjects/User.cs
  support/simulator/Simulator.DataStore.API/Simulator.DataStore.API.csproj
  support/simulator/Simulator.DataStore.API/Stores/BaseStore.cs
  support/simulator/Simulator.DataStore.API/Stores/TripPointStore.cs
  support/simulator/Simulator.DataStore.API/Stores/TripStore.cs
  support/simulator/Simulator.DataStore.Abstractions/Simulator.DataStore.Abstractions.csproj
  support/simulator/Simulator.DataStore.EFSQL/Simulator.DataStore.EFSQL.csproj
Owners: none

.
  .gitignore
Owners: none

.
  support/simulator/Simulator.DataStore.API/Stores/TripStore.cs
Owners: none

.
  apis/trips/Dockerfile
Owners: @shadmsft

. (#317)
  apis/trips/Dockerfile
Owners: @shadmsft

tripviewer
  iac/bicep/appService.bicep
  iac/bicep/apps.bicep
  iac/bicep/containerGroup.bicep
  iac/bicep/containerRegistry.bicep
  iac/bicep/main.bicep
  iac/bicep/sqlServer.bicep
  iac/terraform/apps.tf
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/outputs.tf
Owners: none

tripviewer (#318)
  iac/bicep/appService.bicep
  iac/bicep/apps.bicep
  iac/bicep/containerGroup.bicep
  iac/bicep/containerRegistry.bicep
  iac/bicep/main.bicep
  iac/bicep/sqlServer.bicep
  iac/terraform/apps.tf
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/outputs.tf
Owners: none

Target .NET Core 3.1
  support/simulator/DeviceSim/DeviceSim.csproj
  support/simulator/Dockerfile
  support/simulator/Simulator.DataObjects/Simulator.DataObjects.csproj
  support/simulator/Simulator.DataStore.API/Simulator.DataStore.API.csproj
  support/simulator/Simulator.DataStore.Abstractions/Simulator.DataStore.Abstractions.csproj
  support/simulator/Simulator.DataStore.EFSQL/Simulator.DataStore.EFSQL.csproj
Owners: none

.
  apis/poi/README.md
  apis/trips/README.md
  apis/user-java/README.md
  apis/userprofile/README.md
  iac/bicep/appService.bicep
  iac/bicep/apps.bicep
  iac/terraform/apps.tf
  iac/terraform/main.tf
Owners: @ivegamsft, @shadmsft, @jason-chong, @techbunny

lint
  iac/terraform/main.tf
Owners: none

hc + staging
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
  apis/userprofile/data/healthcheck/user.js
  iac/bicep/deploy.sh
  iac/terraform/deploy.sh
  support/simulator/Dockerfile
  support/tripviewer/web/Views/Home/Index.cshtml
Owners: @jason-chong, @techbunny

Apis (#320)
  apis/poi/README.md
  apis/trips/README.md
  apis/user-java/README.md
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
  apis/userprofile/README.md
  apis/userprofile/data/healthcheck/user.js
  iac/bicep/appService.bicep
  iac/bicep/apps.bicep
  iac/bicep/deploy.sh
  iac/terraform/apps.tf
  iac/terraform/deploy.sh
  iac/terraform/main.tf
  support/simulator/Dockerfile
  support/tripviewer/web/Views/Home/Index.cshtml
Owners: @ivegamsft, @shadmsft, @jason-chong, @techbunny

.
  iac/bicep/appService.bicep
  iac/bicep/apps.bicep
  iac/bicep/deploy.sh
  iac/terraform/deploy.sh
  support/tripviewer/web/Views/Home/Index.cshtml
Owners: none

datainit
  iac/bicep/appService.Test.ps1
  iac/bicep/apps.bicep
  iac/bicep/datainit.sh
Owners: none

.
  iac/bicep/apps.bicep
  iac/bicep/datainit.sh
Owners: none

.
  iac/bicep/datainit.sh
Owners: none

.
  iac/bicep/datainit.sh
Owners: none

.
  iac/bicep/datainit.sh
Owners: none

.
  iac/bicep/apps.bicep
  iac/bicep/datainit.sh
  iac/bicep/dockerbuild.sh
Owners: none

Target .NET Core 3.1 (#319)
  support/simulator/DeviceSim/DeviceSim.csproj
  support/simulator/Dockerfile
  support/simulator/Simulator.DataObjects/Simulator.DataObjects.csproj
  support/simulator/Simulator.DataStore.API/Simulator.DataStore.API.csproj
  support/simulator/Simulator.DataStore.Abstractions/Simulator.DataStore.Abstractions.csproj
  support/simulator/Simulator.DataStore.EFSQL/Simulator.DataStore.EFSQL.csproj
Owners: none

.
  iac/bicep/appService.Test.ps1
  iac/bicep/datainit.sh
  iac/bicep/dockerbuild.sh
  iac/bicep/smokeTest.ps1
  iac/terraform/appService.Test.ps1
  iac/terraform/smokeTest.ps1
Owners: none
