Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Create first automation
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Another try of automation
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update README.md
  apis/trips/README.md
Owners: @Maverick-ctrl

Update dotnet.yml
  .github/workflows/dotnet.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @openhandy

Delete ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Delete custom.md
  .github/ISSUE_TEMPLATE/custom.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Create ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @openhandy

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @openhandy

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @openhandy

Create api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update api-poi-image-build.yml
  .github/workflows/api-poi-image-build.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

CODEOWNERS:

# General owners
# good comments are more useful :)
* @oberlaender @Maverick-ctrl @cxyix @openhandy

# API owners
# POI Owner
apis/poi/ @openhandy

# Trips
/apis/trips/ @Maverick-ctrl

# User-java
/apis/user-java/ @cxyix

# userprofile
/apis/userprofile/ @oberlaender
