Repository Azure-Samples/openhack-devops-team, changes with the owners that CODEOWNERS names for each.
All owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/poi/README.md
Owners: @openhandy

Add or update the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/main_openhackl8y6u383trips.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Add or update the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/main_openhackl8y6u383userjava.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Add or update the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/main_openhackl8y6u383userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main_openhackl8y6u383poi.yml
  .github/workflows/main_openhackl8y6u383poi.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main_openhackl8y6u383userprofile.yml
  .github/workflows/main_openhackl8y6u383userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main_openhackl8y6u383userprofile.yml
  .github/workflows/main_openhackl8y6u383userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update README.md
  apis/trips/README.md
Owners: @Maverick-ctrl

Update README.md (#347)
  apis/trips/README.md
Owners: @Maverick-ctrl

Create main.yml
  .github/workflows/main.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main.yml
  .github/workflows/main.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main.yml
  .github/workflows/main.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main.yml
  .github/workflows/main.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main.yml
  .github/workflows/main.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update main.yml
  .github/workflows/main.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update and rename main.yml to userprofile.yml
  .github/workflows/userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Update server.js
  apis/userprofile/server.js
Owners: @oberlaender

Update userprofile.yml
  .github/workflows/userprofile.yml
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

added Sample JMX file to resources
  support/resources/MyDrivingTest.jmx
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

Updating my driving test name
  support/resources/MyDrivingTest.jmx
Owners: @oberlaender, @Maverick-ctrl, @cxyix, @openhandy

CODEOWNERS:

# General owners
# good comments are more useful :)
* @oberlaender @Maverick-ctrl @cxyix @openhandy

# API owners
# POI Owner
apis/poi/ @openhandy

# Trips
/apis/trips/ @Maverick-ctrl

# User-java
/apis/user-java/ @cxyix

# userprofile
/apis/userprofile/ @oberlaender
